@clipunit :1rem;


.paperclip__editlog__unit {
  margin-bottom: @clipunit;
}

.paperclip__editlog__split {
  color: __paperclip__textarea__;
}

.paperclip__editlog__pageid {
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 2 * @clipunit;
}

.paperclip__editlog__time {
  display: inline-block;
  font-size: 0.8rem;
  color: __paperclip__edititem__;
}

.paperclip__editlog__sum {
  padding: @clipunit 0 @clipunit @clipunit;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: __paperclip__edititem__;
}

.paperclip__editlog__footer {
  font-size: 0.9rem;
}

.paperclip__editlog__footer a,
.paperclip__editlog__footer span {
  color: __paperclip__gold__ !important;
}

.paperclip__editlog__footer a {
  margin-right: @clipunit;
}

.paperclip__editlog__index {
  float: right;
}